/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #f6f6f6;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #f6f6f6;
}

.search_box{
  display: flex;
  align-items: center;
}
.search_box input{
  padding: 9px;
  margin-left: -10px;
  width: 250px;
  background: rgb(228, 228, 228);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search_box i{
  padding: 0.66rem;
  cursor: pointer;
  color: #fff;
  background: #283F37;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}

/* Side menubar section */
nav{
  background: #fff;
  border-radius: 30px;
  height: 200px;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-top: -80px;
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
  border-radius: 30px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
  
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:hover{
  background: rgb(235, 235, 235);
}
.side_navbar .active{
  border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */
.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 38px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: #283F37;
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}
.promo_card button{
  display: block;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
}
.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}



/* Sidebar Section */
.sidebar{
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
  border-radius: 30px;
  height: 420px;
}
.sidebar h4{
  margin-bottom: 1.5rem;
}
.sidebar .balance{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.balance .icon{
  color: #fff;
  font-size: 20px;
  border-radius: 16px;
  margin-right: 1rem;
  padding: 1rem;
  background: #283F37;
}
.balance .info h5{
  font-size: 16px;
}
.balance .info span{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.balance .info i{
  margin-right: 2px;
}
.nav-bar ul {
    padding: 20px;
    position: absolute;
    list-style-type: none;
    margin-left: -100px;
    margin-top: -750px;
    padding: 0;
    overflow: hidden;
    background-color: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: #243241;
  text-align: center;
  font-size: small;
  font-weight: 400;
  padding: 20px;
  text-decoration: none;
  transition: 0.5s;
    style: none;
}
li a:hover{
    display: block;
    color: #c8b2bc;
    text-align: center;
    font-size: small;
    padding: 20px;
    text-decoration: none;
}
.hands{
    
}
