@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    font-family: 'poppins', sans-serif;

}
body{
    background-color: #F0F0F0;
}

#welcome{
    font-weight: 200;
    font-style: unset;
}
#Name{
    font-weight: 900;

}
h1{
    padding-left: 20px;
}

#blueBox{
    background-color: #76B5FF;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    position: absolute;
    top: 40%;
    left: 90%;
    scale: 1;
}
#blueBox:hover{
    scale: 1.1;
    transition: 0.5s;
}
#image{
    max-width: 40%;
    height: auto;
    top: 15%;
    border-radius: 25px;
    position: absolute;
}
.imgtxt{
    left: 40%;
    position: relative;
}
#div1 {
    background-color: #FFF;
    margin-top: 20px;
    width: 550px;
    height: 150px;
    padding-top: 50px;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
  }
#div1:hover{
    scale: 1.1;
    transition: 0.5s;
}

#div2{
    background-color: #FFF;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 20px;
    width: 50px;
    height: 100px;
    padding: 50px;
    padding-top: 50px;
    padding-right: 55px;
    border-radius: 25px;
    position: relative;
    
    display:inline-block;
}
.imgtxt2{
    position: absolute;
    top: 0;
    left: 0;
}
#div2:hover{
    scale: 1.1;
    transition: 0.5s;
}
#div3 {
    
    background-color: #FFF;
    width: 258px;
    height: 100px;
    padding-top: 50px;
    padding-left: 5%;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
    display:inline-block;
    position: relative;
}
.imgtxt3{
    position: absolute;
    top: 0;
    left: 0;
}
#div3:hover{
    scale: 1.1;
    transition: 0.5s;
}
.Container{
    display: inline-block;
}

.left{
    display: inline-block;
}
.right{
    display: inline-block;
}
#order{
    display: inline-block;
}
#button{
    display: inline-block;
    
}
#button1{
    display: inline-block;
    background-color: #283F37;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #f5f2f2;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}


/* CSS */


#button1:hover,
#button1:focus {
  background-color: #344e45;
}
#button2{
    display: inline-block;
    background-color: #283F37;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #f5f2f2;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}